@font-face {
  font-family: "iconfont"; /* Project id 4199798 */
  src: url('iconfont.woff2?t=1691549519045') format('woff2'),
       url('iconfont.woff?t=1691549519045') format('woff'),
       url('iconfont.ttf?t=1691549519045') format('truetype');
}

[class*='icon-'] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-times:before {
  content: "\e82a";
}

.icon-undo:before {
  content: "\e830";
}

.icon-arrow-to-bottom:before {
  content: "\e83c";
}

.icon-arrow-to-top:before {
  content: "\e83d";
}

.icon-terminal:before {
  content: "\e864";
}

.icon-right-arrow-rect:before {
  content: "\e884";
}

.icon-left-arrow-rect:before {
  content: "\e885";
}

.icon-reply:before {
  content: "\e82f";
}

.icon-redo:before {
  content: "\e831";
}

