@import "../iconfont/iconfont.css";

.editor {
    width: 100%;
    height: 100%;

    &-left,
    &-right {
        position: absolute;
        width: 270px;
        background-color: aqua;
        top: 0;
        bottom: 0;
    }

    &-left {
        left: 0;

        &-item {
            width: 250px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: antiquewhite;
            padding: 20px;
            box-sizing: border-box;
            // 拖动效果
            cursor: move;
            user-select: none;
            min-height: 100px;
            position: relative;

            >span {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgb(76, 167, 197);
                color: #fff;
                padding: 4px;

            }

            // 利用为类实现不可点击的效果
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                opacity: 0.2;
            }

        }
    }

    &-right {
        right: 0;
    }

    &-top {
        position: absolute;
        right: 280px;
        left: 280px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-button {
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, .3);
            color: #fff;
            user-select: none; //禁止点击
            cursor: pointer; //移上去变成小手
            &+& {
                //每个按钮之间3px
                margin-left: 3px;

            }

        }


    }

    &-container {
        padding: 80px 270px 0;
        height: 100%;
        box-sizing: border-box;

        &-canvas {
            overflow: scroll;
            height: 100%;

            &_content {
                margin: 20px auto;
                background-color: wheat;
                position: relative;
            }
        }
    }
}

.editor-block {
    position: absolute;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.editor-block-focus {
    &::after {
        border: 2px dashed red;
    }
}
.editor-block-preview{
    &::after {
        display: none;
        
    }
}
.line-x {
    //移动的时left值
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 2px dashed red;
}

.line-y {
    //移动的是top值
    position: absolute;
    left: 0;
    right: 0;
    border-top: 2px dashed red;
}


//右键下拉栏菜单
.dropdown{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow:2px 2px #ccc;
}
.dropdown-isShow{
    display: block;
}

.dropdown-item{
    line-height: 30px;
    width: 100px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    user-select: none;
    cursor: pointer;
}


.block-resize{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(36, 36, 198);
    z-index: 1000;
}
.block-resize-top{
    top: -4px;
    left: calc(50% - 4px);
}
.block-resize-bottom{
    bottom: -4px;
    left: calc(50% - 4px);
}
.block-resize-left{
    top: calc(50% - 4px);
    left: -4px;
}
.block-resize-right{
    top: calc(50% - 4px);
    right: -4px;
}
.block-resize-top-right{
    top: -4px;
    right: -4px;
}
.block-resize-top-left{
    top: -4px;
    left: -4px;
}
.block-resize-bottom-left{
    bottom: -4px;
    left: -4px;
}
.block-resize-bottom-right{
    bottom: -4px;
    right: -4px;
}

.el-button,.el-input{//去除el组件的动画，影响放大缩小
transition: none;
}